.popup__content {
  background-color: #ffffff;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 430px;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  max-height: 330px;
}
@media (max-width: 1279px) {
  .popup__content {
    max-width: 282px;
    padding: 25px 22px;
    top: 123px;
  }
}
