.profile {
  margin: 40px auto 0;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1279px) {
  .profile {
    max-width: 282px;
    margin: 42px auto 0;
    flex-wrap: wrap;
    justify-content: center;
  }
}
