.profile__info-name {
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  max-width: 294px;
  max-height: 39px;
  margin: 0;
}

@media (max-width: 1279px) {
  .profile__info-name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
