.footer {
  margin: 66px 200px 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 318px;

  color: #545454;
}
@media (max-width: 1279px) {
  .footer {
    font-size: 14px;
    line-height: 17px;
    margin: 48px auto 36px;
    max-width: 282px;
  }
}
